@model UserInfo


@{
	var className = Model.KatilimDurumu == true ? "success" : "danger";
}


<main class="text-center">
		
	<h1>Başvuru Detayı</h1>
	<p>
		<span class="badge bg-@className">
			@if(Model.KatilimDurumu==true)
			{
				<text>Katılıyor</text>
			}
			else
			{
				<text>Katılmıyor</text>
			}
		</span>
	</p>
	<p>İsim: @Model.Name</p>
	<p>Email: @Model.Email</p>
	<p>Telefon: @Model.Phone</p>
	<a asp-controller="MeetingApp" asp-action="List" class="btn btn-outline-primary">Katılımcı Listesi</a>

</main>